.carou {
    margin-top: 90px;

    img {
        width: 90%;
        height: 500px;
        color: #fff;
        object-fit: cover;
        margin: auto;
    }
}

@media screen and (max-width: 1024px) {
    .carou {
        img {
            height: 400px;
        }
    }
}

@media screen and (max-width: 768px) {
    .carou {
        img {
            width: 100%;
            height: 300px;
        }
    }
}

@media screen and (max-width: 576px) {
    .carou {
        img {
            width: 100%;
            height: 250px;
        }
    }
}