.detail{
    margin-top: 90px;
    min-height: 90vh;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    .ant-select.ant-select-in-form-item{
        width: 100% !important;
    }
}

@media screen and (max-width: 768px) {
    h1{
        font-size: 2rem;
    }
}

@media screen and (max-width: 576px) {
    h1{
        font-size: 1.5rem;
    }
}